# See https://help.github.com/ignore-files/ for more about ignoring files.

# production
/Server/bin/
/Server/bin/Debug/
/Server/bin/Release/

# misc
/Server/*.csproj.user
/Server/*.user
/Server/obj/
obj
bin
.vs
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/BuildScripts/build/*
node_modules
/MyHouse_FirebaseAdmin/build